<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EntitiesDataContext" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Data.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--SyncService Configuration-->
  <system.serviceModel>
    <services>
      <service name="WinPure.ContactManagement.Client.Services.SyncService" behaviorConfiguration="WinPure.ContactManagement.Client.Services.SyncServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="wsHttpBinding" contract="WinPure.ContactManagement.Common.Interfaces.SyncService.ISyncService">
          <!-- 
  Upon deployment, the following identity element should be removed or replaced to reflect the 
  identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
  automatically.
  -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint name ="udpDiscovery" kind ="udpDiscoveryEndpoint" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WinPure.ContactManagement.Client.Services.SyncServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>