<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="EntitiesDataContext" connectionString="metadata=res://*/Model.DataModel.csdl|res://*/Model.DataModel.ssdl|res://*/Model.DataModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Data.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--SyncService Configuration-->
  <system.serviceModel>
    <client>
      <endpoint address="http://x-a-k-e-p-pc:8000/WinPure/SyncService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService1"
        contract="SyncService.ISyncService" name="BasicHttpBinding_ISyncService1" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="SyncServiceBinding" maxReceivedMessageSize="10067108864"
          messageEncoding="Mtom" transferMode="Streamed">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_ISyncService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="WinPure.ContactManagement.Client.Services.SyncServiceBehavior" name="WinPure.ContactManagement.Client.Services.SyncService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SyncServiceBinding" contract="WinPure.ContactManagement.Common.Interfaces.SyncService.ISyncService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WinPure.ContactManagement.Client.Services.SyncServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>